
						  {% for item in basket_items %}
						    <tr class="alert" role="alert">
						      <td><a href="#"><img src="/media/{{ item.product.image }}" width="60" height="60" alt="{{ item.product.short_desc }}" /></a></td>
						      <td>{{ item.product.name }}</td>
						      <td>{{ item.product.category.name }}</td>
						      <td><input name="{{ item.id }}" type="number" class="form-control"
                                       value="{{ item.quantity }}" min="1"></td>
				          <td>{{ item.product.price }}</td>
						      <td>
						      	{{ item.product_cost }}
				        	</td>
                                <td>
                                    <a href="{% url 'basket:remove' item.pk %}" class="">Delete</a>
                                </td>
						    </tr>
						  {% endfor %}
						  <tr>

						  </tr>
						  <tr>
							  <td>
{% if basket_items %}
    <div class="basket_summary">
        <p class="s_total"><strong>Count:</strong> {{ basket_items.0.total_quantity }}<span class="s_currency s_after"> products </span></p>
        <p class="s_total s_secondary_color last"><strong>Total:</strong>{{ basket_items.0.total_cost }}<span class="s_currency s_after"> rub</span></p>
    </div>
{% endif %}
							  </td>
						  </tr>
                          <tr>
                              <td>
<!--                                  <button><a class="s_button_1 s_ddd_bgr left" href=""><span class="s_text">Continue Shopping</span></a></button>-->
                                  <button><a class="s_button_1 s_main_color_bgr" type="submit" href="{% url 'orders:list' %}"><span class="s_text">Checkout</span></a></button>
<!--                                  <button><a class="s_button_1 s_main_color_bgr"><span class="s_text">Update</span></a></button>-->
                              </td>
                          </tr>
						  </tbody>