{% extends 'adminapp/base.html' %}
{% load static %}
{% block content %}
<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table">
						  <thead class="thead-primary">
						    <tr>
						    	<th>Image</th>
						    	<th>Name</th>
						      <th>Model</th>
						      <th>Quantity</th>
						      <th>Unit Price</th>
						      <th>Total</th>
                                <th></th>
						    </tr>
						  </thead>
						  <tbody>
                          {% include 'basketapp/includes/inc_basket_list.html' %}
						  </tbody>

						</table>
					</div>
				</div>
			</div>
		</div>

</section>

{% endblock %}