{% extends 'adminapp/base.html' %}
{% load static %}
{% block content %}
{% block script %}
{% include 'ordersapp/includes/script.html' %}
{% endblock %}
{% block style %}
{% include 'ordersapp/includes/style.html' %}
{% endblock %}
  <main>
    <div class="basket">
      <div class="basket-labels">
        <ul>
          <li class="item item-heading">Item</li>
          <li class="price">Price</li>
          <li class="quantity">Quantity</li>
          <li class="subtotal">Subtotal</li>
        </ul>
      </div>
        {% for item in object.orderitems.select_related %}
      <div class="basket-product">
        <div class="item">
          <div class="product-image">
            <img src="{{ item.product.image.url }}" alt="{{ item.product.short_desc }}" class="product-frame">
          </div>
          <div class="product-details">
            <h1><strong><span class="item-quantity">{{ item.quantity }}</span> x {{ item.product.category.name }}</strong> {{ item.product.name }}</h1>
          </div>
        </div>
        <div class="price">{{ item.product.price }}</div>
        <div class="quantity">
          <input type="number" value="{{ item.quantity }}" min="1" class="quantity-field">
        </div>
        <div class="subtotal">{{ item.get_product_cost }}</div>
        <div class="remove">

        </div>
      </div>
        {% endfor %}
    </div>
      <aside>
        {% include 'ordersapp/includes/inc_order_summary.html' %}
        {% include 'ordersapp/includes/inc_order_actions.html' %}
      </aside>
  </main>
{% endblock %}