{% extends 'adminapp/base.html' %}
{% load static %}
{% block content %}
<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table">
						  <thead class="thead-primary">
						    <tr>
						    	<th>ID</th>
						    	<th>Created</th>
						    	<th>Updated</th>
						      <th>Status</th>
                                <th></th>
                                <th></th>
                                <th></th>
						    </tr>
						  </thead>
						  <tbody>
						  {% for item in object_list %}
                          {% if item.is_active %}
						    <tr class="alert" role="alert">
						      <td>{{ item.pk }}</td>
						      <td>{{ item.create|date:"Y-m-d H:i:s" }}</td>
						      <td>{{ item.update|date:"Y-m-d H:i:s" }}</td>
						      <td>{{ item.get_status_display }}</td>
				          <td><a href="{% url 'orders:read' item.pk %}">View</a></td>
						      <td>
						      	{% if item.status == 'FM' %}
                                  <a href="{% url 'orders:update' item.pk %}">
                                    Edit
                                </a>
                            {% endif %}
				        	</td>
                                <td>
                                {% if item.status == 'FM' %}
                                <a href="{% url 'orders:delete' item.pk %}">Delete</a>
                            {% endif %}
                                </td>
						    </tr>
                          {% endif %}
						  {% endfor %}
						  <tr>
						  </tr>
						  <tr>
							  <td>
							  <a href="{% url 'orders:create' %}">
                            <button class="btn btn-success">Create New</button>
                        </a>
							  </td>
						  </tr>
						  </tbody>

						</table>
					</div>
				</div>
			</div>
		</div>

</section>

{% endblock %}