{% extends 'mainapp/base.html' %}
{% load static %}
{% block menu %}
{% include 'mainapp/includes/inc_categories_menu.html' %}
{% endblock %}
{% block content %}
  <!-- ********************** -->
  <!--      C O N T E N T     -->
  <!-- ********************** -->
  <div id="content" class="product_view container_16">

    <div id="product" class="grid_12">
      <div id="product_images" class="grid_6 alpha">
      	<a id="product_image_preview" rel="prettyPhoto[gallery]" href="/media/{{ product.image }}"><img id="image" src="/media/{{ product.image }}" title="Leica M7" alt="Leica M7" style="width:300px; height:300px;" /></a>
      </div>
      <div id="product_info" class="grid_6 omega">
        <p class="s_price s_promo_price"><span class="s_old_price">940.00<span class="s_currency s_after"> eur</span></span> {{ product.price }}<span class="s_currency s_after"> rub</span></p>
        <dl class="clearfix">
          <dt>Availability</dt>
          <dd>In Stock</dd>
          <dt>Model</dt>
          <dd>{{ product.name }}</dd>
          <dt>Manufacturer</dt>
          <dd><a href="#">{{ product.category }}</a></dd>
          <dt>Average Rating</dt>
          <dd>
            <p class="s_rating s_rating_5"><span style="width: 100%;" class="s_percent"></span></p>
          </dd>
        </dl>
        <div id="product_share" class="clearfix">
          <!-- AddThis Button BEGIN -->
          <div class="addthis_toolbox addthis_default_style ">
          <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
          <a class="addthis_button_tweet"></a>
          <a class="addthis_counter addthis_pill_style"></a>
          </div>
          <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4de0eff004042e7a"></script>
          <!-- AddThis Button END -->
        </div>
        <div id="product_buy" class="clearfix">
          <label for="product_buy_quantity">Qty:</label>
          <input id="product_buy_quantity" type="text" size="2" />
          <a id="add_to_cart" class="s_main_color_bgr" href="{% url 'basket:add' product.pk %}"><span class="s_text"><span class="s_icon"></span> Add to Cart</span></a>
        </div>
      </div>
      <div class="clear"></div>
      <div class="s_tabs grid_12 alpha omega">
        <ul class="s_tabs_nav clearfix">
          <li><a href="#product_description">Description</a></li>
          <li><a href="#product_reviews">Reviews (1)</a></li>
          <li><a href="#product_gallery">Photos (2)</a></li>
        </ul>
        <div class="s_tab_box">

          <div id="product_description">
            <div class="cpt_product_description ">
                {{ product.description }}
            </div>
            <!-- cpt_container_end -->
          </div>

          <div id="product_reviews" class="s_listing">
            <div class="s_review last">
              <p class="s_author"><strong>Shoppica</strong><small>(29/03/2011)</small></p>
              <div class="right">
                <div class="s_rating_holder">
                  <p class="s_rating s_rating_5"><span class="s_percent" style="width: 100%;"></span></p>
                  <span class="s_average">5 out of 5 Stars!</span>
                </div>
              </div>
              <div class="clear"></div>
               </div>
            <div class="pagination"><div class="results">Showing 1 to 1 of 1 (1 Pages)</div></div>
            <h2 class="s_title_1"><span class="s_main_color">Write</span> Review</h2>
            <div id="review_title" class="clear"></div>
            <div class="s_row_3 clearfix">
              <label><strong>Your Name:</strong></label>
              <input type="text" />
            </div>
            <div class="s_row_3 clearfix">
              <label><strong>Your Review:</strong></label>
              <textarea style="width: 98%;" rows="8"></textarea>
              <p class="s_legend"><span style="color: #FF0000;">Note:</span> HTML is not translated!</p>
            </div>
            <div class="s_row_3 clearfix">
              <label><strong>Rating</strong></label>
              <span class="clear"></span> <span>Bad</span>&nbsp;
              <input type="radio" />
              &nbsp;
              <input type="radio" />
              &nbsp;
              <input type="radio" />
              &nbsp;
              <input type="radio" />
              &nbsp;
              <input type="radio" />
              &nbsp; <span>Good</span>
            </div>
            <span class="clear border_ddd"></span>
            <a class="s_button_1 s_main_color_bgr"><span class="s_text">Continue</span></a> <span class="clear"></span>
          </div>

          <div id="product_gallery">
            <ul class="s_thumbs clearfix">
              <li><a class="s_thumb" href="images/dummy/pic_2.jpg" title="Leica M7" rel="prettyPhoto[gallery]"><img src="images/dummy/pic_2.jpg" width="120" title="Leica M7" alt="Leica M7" /></a></li>
              <li><a class="s_thumb" href="images/dummy/pic_3.jpg" title="Leica M7" rel="prettyPhoto[gallery]"><img src="images/dummy/pic_3.jpg" width="120" title="Leica M7" alt="Leica M7" /></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div id="related_products" class="grid_12 alpha omega">
        <h2 class="s_title_1"><span class="s_main_color">Related</span> Products</h2>
        <div class="clear"></div>
        <div class="s_grid_view s_listing clearfix">
          <div class="s_item grid_3">
          	<a class="s_thumb" href="product.html"><img src="images/dummy/pic_4.jpg" title="Panasonic Lumix" alt="Panasonic Lumix" /></a>
            <h3><a href="product.html">Panasonic Lumix</a></h3>
            <p class="s_model">Product 4</p>
            <p class="s_price">94.00<span class="s_currency s_after"> eur</span></p>
            <a class="s_button_add_to_cart" href="cart.html"><span class="s_icon_16"><span class="s_icon"></span>Add to Cart</span></a>
          </div>
          <div class="s_item grid_3">
          	<a class="s_thumb" href="product.html"><img src="images/dummy/pic_5.jpg" title="Panasonic Lumix" alt="Panasonic Lumix" /></a>
            <h3><a href="product.html">Panasonic Lumix</a></h3>
            <p class="s_model">Product 4</p>
            <p class="s_price">94.00<span class="s_currency s_after"> eur</span></p>
            <a class="s_button_add_to_cart" href="cart.html"><span class="s_icon_16"><span class="s_icon"></span>Add to Cart</span></a>
          </div>
          <div class="s_item grid_3">
          	<a class="s_thumb" href="product.html"><img src="images/dummy/pic_6.jpg" title="Panasonic Lumix" alt="Panasonic Lumix" /></a>
            <h3><a href="product.html">Panasonic Lumix</a></h3>
            <p class="s_model">Product 4</p>
            <p class="s_price">94.00<span class="s_currency s_after"> eur</span></p>
            <a class="s_button_add_to_cart" href="cart.html"><span class="s_icon_16"><span class="s_icon"></span>Add to Cart</span></a>
          </div>
          <div class="s_item grid_3">
          	<a class="s_thumb" href="product.html"><img src="images/dummy/pic_7.jpg" title="Panasonic Lumix" alt="Panasonic Lumix" /></a>
            <h3><a href="product.html">Panasonic Lumix</a></h3>
            <p class="s_model">Product 4</p>
            <p class="s_price">94.00<span class="s_currency s_after"> eur</span></p>
            <a class="s_button_add_to_cart" href="cart.html"><span class="s_icon_16"><span class="s_icon"></span>Add to Cart</span></a>
          </div>
          <div class="clear"></div>
        </div>
      </div>


      <div id="product_tags" class="grid_12 alpha omega">
        <h2 class="s_title_1"><span class="s_main_color">Product</span> Tags</h2>
        <div class="clear"></div>
        <ul class="clearfix">
          <li><a href="#">Centrino</a></li>
          <li><a href="#">Intel</a></li>
          <li><a href="#">VAIO</a></li>
          <li><a href="#">laptop</a></li>
          <li><a href="#">notebook</a></li>
        </ul>
      </div>
      </div>

    <div id="right_col" class="grid_3">
      <div id="cart_side" class="s_box_1 s_cart_holder">
        <h2 class="s_secondary_color">Shopping Cart</h2>
        <div id="cart_side_contents">
            {% for item in basket %}
          <div class="s_cart_item">
            <a id="hremove_95" class="s_button_remove" href="{% url 'basket:remove' item.pk %}">&nbsp;</a>
            <span class="block">1x <a href="product.html">{{ item.product.name }}</a></span>
          </div>
          {% endfor %}
          <span class="clear s_mb_15 border_eee"></span>
          <div class="s_total clearfix"><strong class="cart_module_total left">Total:</strong><span class="cart_module_total">{{ basket.0.total_cost|floatformat:0 }}<span class="s_currency s_after"> rub</span></span></div>
          <span class="clear s_mb_15"></span>
          <div class="align_center clearfix">
            <a class="s_button_1 s_secondary_color_bgr s_ml_0" href="{% url 'basket:view' %}"><span class="s_text">View Cart</span></a>
            <a class="s_button_1 s_secondary_color_bgr" href="{% url 'orders:list' %}"><span class="s_text">Checkout</span></a>
          </div>

        </div>
      </div>

    <div id="categories_module" class="s_box">
        <h2>Категории</h2>
        <div class="s_list_1">
          <ul>
            {% for link in links_menu %}
          	<li>
            	<a href="{% url 'products:category' link.pk %}"><b>{{ link.name }}</b></a>
            	<ul>
<!--              	<li><a href="listing_1.html">Digital Cameras</a></li>-->
<!--                <li><a href="listing_1.html">Home Audio</a></li>-->
<!--                <li><a href="listing_1.html">Home Cinema</a></li>-->
<!--                <li><a href="listing_1.html">Cell Phones</a></li>-->
<!--                <li><a href="listing_1.html">MP3 Players</a></li>-->
<!--                <li><a href="listing_1.html">Car-Audio</a></li>-->
              </ul>
            </li>
            {% endfor %}
          </ul>
      	</div>
    </div>

      <div id="bestseller_side" class="s_box clearfix">
        <h2>Бестселлеры</h2>
		{% for product in same_products %}
        <div class="s_item s_size_1 clearfix">
          <a class="s_thumb" href="{% url 'product:product' product.pk %}"><img src="/media/{{ product.image }}" width="38" height="38" alt="{{ product.name }}" /></a>
          <h3><a href="{% url 'product:product' product.pk %}">{{ product.name }}</a></h3>
          <p><a href="{% url 'product:product' product.pk %}"><span class="s_main_color"><span class="s_currency s_before"></span>{{ product.price }}</span> RUB.</a></p>
        </div>
         {% endfor %}
      </div>

      <div id="information_module" class="s_box">
        <h2>Информация</h2>
        <ul class="s_list_1">
          <li><a href="{% url 'contacts' %}">Связь с нами</a></li>
          <li><a href="#">Карта сайта</a></li>
        </ul>
      </div>

    <div id="featured_side" class="s_box clearfix">
        <h2>Рекомендуемые товары</h2>
		{% for spec_product in same_products %}
        <div class="s_item s_size_1 clearfix">
          <a class="s_thumb" href="{% url 'product:product' spec_product.pk %}"><img src="/media/{{ spec_product.image }}" width="38" height="38" alt="{{ spec_product.name }}" /></a>
          <h3><a href="{% url 'product:product' spec_product.pk %}">{{ spec_product.name }}</a></h3>
          <p><a href="{% url 'product:product' spec_product.pk %}"><span class="s_main_color"><span class="s_currency s_before"></span>{{ spec_product.price }}</span> Rub.</a></p>
        </div>
		{% endfor %}
      </div>
      </div>
    </div>

  <!-- end of content -->

{% endblock %}
