{% extends 'mainapp/base.html' %}
{% load static %}
 {% block menu %}
 {% include 'mainapp/includes/inc_categories_menu.html' %}
 {% endblock %}
 {% block content %}




    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                {% for product in products %}
                <div class="col-md-3 col-sm-6">
                    <div class="single-shop-product">
                        <div class="product-upper">
                            <img src="/media/{{ product.image }}" alt="">
                        </div>
                        <h2><a href="{% url 'product:product' product.pk %}">{{ product.name }}</a></h2>
                        <div class="product-carousel-price">
                            <ins>{{ product.price }} RUB</ins> <del>$999.00</del>
                        </div>

                        <div class="product-option-shop">
                            <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="{% url 'basket:add' product.pk %}">Add to cart</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="product-pagination text-center">
                        <nav>
                                      {% if products.has_previous %}
          <a href="{% url 'products:page' category.pk products.previous_page_number %}"><</a>
          {% endif %}
          Page number {{ products.number }} of
            {{ products.paginator.num_pages }}
          {% if products.has_next %}
          <a href="{% url 'products:page' category.pk products.next_page_number %}">
              >
          </a>
          {% endif %}
<!--                          <ul class="pagination">-->
<!--                              {% if products.has_previous %}-->
<!--                            <li>-->
<!--                              <a href="{% url 'products:page' category.pk products.previous_page_number %}" aria-label="Previous">-->
<!--                                <span aria-hidden="true">&laquo;</span>-->
<!--                              </a>-->
<!--                            </li>-->
<!--                              {% endif %}-->
<!--                              -->
<!--                            <li><a href="#">1</a></li>-->
<!--                            <li><a href="#">2</a></li>-->
<!--                            <li><a href="#">3</a></li>-->
<!--                            <li><a href="#">4</a></li>-->
<!--                            <li><a href="#">5</a></li>-->
<!--                            <li>-->
<!--                              <a href="#" aria-label="Next">-->
<!--                                <span aria-hidden="true">&raquo;</span>-->
<!--                              </a>-->
<!--                            </li>-->
<!--                          </ul>-->
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}