{% extends 'adminapp/base.html' %}
{% load static %}
{% block content %}
<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table">
						  <thead class="thead-primary">
						    <tr>
						    	<th>Name</th>
						    	<th>Description</th>
						    	<th>Active</th>
						      <th>Delete</th>
						      <th>Edit</th>
						    </tr>
						  </thead>
						  <tbody>
                                {% for category in object_list %}
						    <tr class="alert" role="alert">
						      <td>
						      	<div class="email"><a href="{% url 'adminapp:products_category' category.id %}">
									<span>{{ category.name }}</span></a>
						      	</div>
						      </td>
						      <td>{{ category.description }}</td>
                                {% if category.is_active %}
						      <td>True</td>
                                {% else %}
                                <td>False</td>
                                {% endif %}
						      <td>
						      	<a href="{% url 'admins:category_delete' category.id %}">Delete</a>
				        	</td>
                                <td>
						      	<a href="{% url 'adminapp:category_update' pk=category.id %}">Edit</a>
				        	</td>
						    </tr>
						  {% endfor %}
						  </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
</section>
<div class="card-footer">
                        <a href="{% url 'adminapp:category_create' %}">
                            <button class="btn btn-success">Add Category</button>
                        </a>
                    </div>
{% endblock %}