{% extends 'adminapp/base.html' %}
{% load static %}
{% block content %}
<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table">
						  <thead class="thead-primary">
						    <tr>
						    	<th>Photo</th>
						    	<th>Name</th>
						    	<th>Price</th>
						      <th>Quantity</th>
						      <th>Short_desc</th>
						      <th></th>
						      <th>&nbsp;</th>
						    </tr>
						  </thead>
						  <tbody>
						  {% for product in objects %}
						    <tr class="alert" role="alert">
                                <td>
                                    <a href="#"></a><img
          src="/media/{{product.image|default:'products_images/default.jpg'}}"
          alt="{{ product.name }}" width="60" height="60"/>
                                </td>
						      <td>
						      	<div class="email"><a href="{% url 'adminapp:product_read' product.pk%}">
									<span>{{ product.name|title }}</span></a>
						      	</div>
						      </td>
						      <td>{{ product.price }} rub</td>
						      <td>{{ product.quantity }}</td>
						      <td>{{ product.short_desc|title }}</td>
				          <td><button>
            <a href="{% url 'adminapp:product_update' product.id %}">
              Edit
            </a>
          </button></td>
						      <td>
						      	<button>
            <a href="{% url 'adminapp:product_delete' product.id %}">
              Delete
            </a>
          </button>
				        	</td>
						    </tr>
						  {% endfor %}
						  <tr>

						  </tr>
						  <tr>
							  <td>
							  <a href="{% url 'adminapp:product_create' %}">
                            <button class="btn btn-success">Add Product</button>
                        </a>
							  </td>
						  </tr>
						  </tbody>

						</table>
					</div>
				</div>
			</div>
		</div>

</section>

{% endblock %}