{% extends 'adminapp/base.html' %}
{% load static %}
{% block content %}
<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table">
						  <thead class="thead-primary">
						    <tr>
						    	<th>Photo</th>
						    	<th>Name</th>
						    	<th>Price</th>
						      <th>Quantity</th>
						      <th>Shor Desc</th>
                                <th></th>
                                <th></th>
						    </tr>
						  </thead>
						  <tbody>
                                {% for product in object_list %}
						    <tr class="alert" role="alert">
                                <td>
						    		<div class="img" style="background-image: url(/media/{{product.image|default:'products_images/default.jpg'}});"></div>
						    	</td>
						      <td>
						      	<div class="email"><a href="{% url 'adminapp:product_read' product.id %}">
									<span>{{ product.name|title }}</span></a>
						      	</div>
						      </td>
						      <td>{{ product.price }} RUB</td>
						      <td>{{ product.quantity }}</td>
						      <td>{{ product.short_desc|title }}</td>
						      <td>
						      	<a href="{% url 'adminapp:product_update' product.pk %}">Edit</a>
				        	</td>
                                <td>
						      	<a href="{% url 'adminapp:product_delete' product.pk %}">Delete</a>
				        	</td>
						    </tr>
						  {% endfor %}
						  <tr>
							  <td>
								  <a href="{% url 'adminapp:product_create' %}">
                            <button class="btn btn-success">Add product</button>
                        </a>
							  </td>
						  </tr>
						  </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
</section>

{% endblock %}