{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
<div id="content" class="container_12">

    <div id="shopping_cart" class="grid_12">

      <form id="cart" class="clearfix" action="#">
        <table class="s_table_1" width="100%" cellpadding="0" cellspacing="0" border="0">
          <tr>
            <th width="65">Фотография</th>
            <th width="320">Наименование</th>
            <th width="65">Цена</th>
            <th width="65">Количество</th>
            <th width="320">Краткое описание</th>
            <th></th>
            <th></th>
          </tr>
          <tr>
    {% for object in object_list %}
      <tr valign="middle"><a href="#"></a><img
          src="/media/{{object.image|default:'products_images/default.jpg'}}"
          alt="{{ object.name }}" width="60" height="60">
      </tr>
      <tr valign="middle"><a href="#"><strong>
          {{ object.name|title }}
      </strong>
      </a>
      </tr>
      <tr valign="middle">
          <p>{{ object.price }} руб</p>
      </tr>
      <tr valign="middle">
          <p>{{ object.quantity }}</p>
      </tr>
      <tr valign="middle">
          {{ object.short_desc|title }}
      </tr>
    {% endfor%}
          </tr>
        </table>
      </form>
  </div>
      <div class="clear"></div>
</div>
{% endblock %}